.header {
  margin: 20px 0;
}

.logo {
  width: 100%;
}

.icon_close {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  svg {
    width: 2.6rem;
    height: 2.6rem;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

.content {
  ul {
    padding: 20px;
    li {
      text-transform: uppercase;
      font-size: 1.6rem;
      line-height: 3rem;
      font-weight: 600;
      cursor: pointer;
    }
  }
}

@media (max-width: 740px) {
  .icon_close {
    justify-content: center;
  }
}
