.wrapper {
  position: sticky;
  top: 0;
  border-right: 1px solid #ededed;
  height: 100vh;
  padding: 0;

  .title {
    position: relative;
    top: 35%;
    left: 20%;

    h1 {
      font-size: 54px;
      font-weight: 700;
      margin: 0px 0;
      line-height: initial;
      color: var(--text-title);

      &::after {
        content: "";
        background: var(--black);
        display: block;
        width: 60px;
        height: 4px;
        margin-top: 70px;
      }
    }
  }
}

.content {
  padding: 10rem;
}
