.container {
  padding-top: 30px;

  h2 {
    line-height: 1.4;
    font-size: 3rem;
    margin-bottom: 30px;
    color: #252a2b;
  }

  a {
    display: block;
    background-color: transparent;
    overflow: hidden;
    img {
      width: 100%;
      transition: all 1s ease-in-out 0s;
    }

    &:hover img {
      transform: scale(1.2);
    }
  }

  .title-link {
    margin-bottom: 10px;
    font-size: 1.6rem;
    &:hover {
      cursor: pointer;
      color: var(--primary);
    }
  }

  span {
    font-size: 1.4rem;
    color: #999999;
    line-height: 1.4;
  }
}
