.main,
.sidebar-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding-top: 5.6rem;
  h1 {
    font-size: 2.8rem;
    color: var(--black);
    font-weight: 500;
  }
}

.section-header {
  margin-bottom: 1.4rem;

  h2 {
    color: var(--text-title);
    font-weight: 500;
  }
}

.section-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.8rem;
  zoom: 1;
}

.logged-in-customer-information {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 2.8rem;

  .logged-in-customer-information-avatar-wrapper {
    padding-right: 1.4rem;

    img {
      border-radius: 8px;
      position: relative;
      max-width: none;
      width: 50px;
      height: 50px;
      overflow: hidden;
    }
  }

  .logged-in-customer-information-paragraph {
    padding-top: 4px;
    color: #737373;
    a {
      display: inline-block;
      color: var(--primary);
      &:hover {
        color: #338dbc;
      }
    }
  }
}
.field {
  width: 100%;
  float: left;
  padding: 7px;
  box-sizing: border-box;

  .field-input-wrapper {
    position: relative;

    .field-input {
      box-shadow: 0 0 0 1px #d9d9d9;
      transition: all 0.2s ease-out;
      background-color: white;
      color: #333333;
      border-radius: 4px;
      display: block;
      box-sizing: border-box;
      word-break: normal;
      width: 100%;
      padding: 1.5em 2.8em 0.38em 0.8em;
    }

    .field-label {
      font-size: 1.3rem;
      font-weight: normal;
      position: absolute;
      top: 0;
      width: 100%;
      padding: 0 0.93333em;
      z-index: 1;
      user-select: none;
      pointer-events: none;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      box-sizing: border-box;
      opacity: 1;
      transform: none;
      color: #999999;
      transition: all 0.2s ease-out;
      margin: 0.5em 0;
      margin-top: 0.3em;
      display: block;
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  margin-top: 7px;
  justify-content: space-between;

  .btn-payment {
    border-radius: 4px;
    font-weight: 500;
    padding: 1.4em 1.7em;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    position: relative;
    background: #338dbc;
    color: white;

    &:hover {
      color: white;
      filter: brightness(1.2);
      background: #3da9e2;
    }
  }

  a {
    color: #338dbc;
    &:hover {
      color: #3da9e2;
    }
  }
}

//Sidebar

.sidebar-content {
  width: 100%;
  color: #717171;
  padding-right: 10rem;
}

.prd-info {
  padding-bottom: 1.4rem;
  border-bottom: 1px dotted #e1e1e1;
}

.prd-img-wrapper {
  position: relative;
}

.prd-img {
  height: 4.6em;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 10%) inset;
  }
  img {
    border-radius: 8px;
    width: 100%;
  }
}

.prd-quantity {
  font-size: 1.2rem;
  font-weight: 500;
  white-space: nowrap;
  padding: 2px 8px;
  border-radius: 2em;
  background-color: rgba(153, 153, 153, 0.9);
  color: #fff;
  position: absolute;
  top: -8px;
  right: 4px;
  z-index: 2;
}

.prd-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .prd-size {
    color: #969696;
    font-size: 1.2rem;
  }
}

.prd-total {
  padding: 1.4rem 0;
}

.prd-price {
  display: flex;
  align-items: center;
  color: #4b4b4b;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
}

td:last-child,
th:last-child {
  text-align: right;
}

.total-line td {
  padding-top: 0.75em;
}

.order-summary-emphasis {
  font-weight: 500;
  color: #4b4b4b;
}

.total-line-table-footer {
  white-space: nowrap;
  .total-line td {
    padding-top: 3em;
    position: relative;
  }
}

.payment-due-label-total {
  font-size: 1.6rem;
  color: #4b4b4b;
}

.payment-due-currency {
  font-size: 1.4rem;
  vertical-align: 0.2em;
  margin-right: 0.5em;
  color: #969696;
}

.payment-due-price {
  font-size: 1.71429em;
  font-weight: 500;
  letter-spacing: -0.04em;
  color: #4b4b4b;
  line-height: 1em;
}
