.prd_img {
  position: relative;
  height: 300px;

  a {
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.2s ease-in-out;
    }
    &:hover {
      .img_show {
        visibility: hidden;
        opacity: 0;
      }

      .img_hidden {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.img_show {
  visibility: visible;
  opacity: 1;
}

.img_hidden {
  visibility: hidden;
  opacity: 0;
}

.prd_desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  a {
    font-size: 1.4rem;
    color: #888;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  P {
    font-size: 1.4rem;
    line-height: 16px;
    color: var(--black);
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .prd_img {
    height: 400px;
  }
}

@media (max-width: 740px) {
  .prd_img {
    height: 210px;
  }
  .prd_desc {
    text-align: center;
  }
}
