.footer {
  position: fixed;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 45px;
  z-index: 999;
}

.wrapper {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}

.copy-right {
  font-size: 1.5rem;
}

.logo {
  img {
    max-width: 150px;
  }
}

.social {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    margin: 0 7px;
  }
}

@media (max-width: 740px) {
  .copy-right {
    font-size: 1.3rem;
  }
}
