//Forget Password Reset
.accounttype {
  margin-bottom: 20px;

  h2 {
    font-size: 2rem;
    color: var(--text-title);
  }
}

.input-recover {
  margin-bottom: 10px;
}

.req_pass {
  margin-left: 25px;
  p {
    font-size: 1.5rem;
    &:hover {
      cursor: pointer;
      color: var(--primary);
    }
  }
}
//Login Form
.input-form {
  margin-bottom: 30px;
}
.user-box input[type="text"],
.user-box input[type="password"],
.user-box input[type="email"],
input[type="email"] {
  display: block;
  width: 100%;
  height: 55px;
  border: 1px solid transparent;
  background: #ededed;
  color: var(--black);
  padding: 0 20px;
  font-weight: 500;
  -webkit-appearance: none;
}

.action-account {
  display: flex;
  align-items: center;
}

.btn-submit {
  button:hover input[type="submit"] {
    color: var(--black);
  }
  input[type="submit"] {
    color: #fff;
    display: inline-block;
    line-height: 1;
    border-radius: 0;
    padding: 0 4px;
    height: 33px;
    text-transform: uppercase;
    font-weight: 600;
    background: transparent;
  }
}

.res-pass {
  margin-left: 20px;
  color: #9e9e9e;

  a,
  p {
    display: inline-block;
    color: var(--black);
    &:hover {
      color: var(--primary);
      cursor: pointer;
    }
  }
}

//responsive
@media (max-width: 740px) {
  .btn-submit {
    button {
      width: 100%;
    }
  }
  .res-pass {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    a,
    p {
      margin: 0 10px;
    }
  }
}
