.input-form {
  margin-bottom: 30px;
}

.user-box input[type="text"],
.user-box input[type="name"],
.user-box input[type="date"],
.user-box input[type="password"],
.user-box input[type="email"] {
  display: block;
  width: 100%;
  height: 55px;
  border: 1px solid transparent;
  background: #ededed;
  color: var(--black);
  padding: 0 20px;
  font-weight: 500;
  -webkit-appearance: none;
}

.form-gender {
  line-height: normal;
  line-height: normal;
  padding: 13px 10px;
  background: #ededed;
  margin-bottom: 30px;
}

.btn-submit {
  button:hover input[type="submit"] {
    color: var(--black);
  }
  input[type="submit"] {
    color: #fff;
    display: inline-block;
    line-height: 1;
    border-radius: 0;
    padding: 0 6px;
    height: 33px;
    text-transform: uppercase;
    font-weight: 600;
    background: transparent;
  }
}

.return-login {
  margin-top: 35px;
  display: block;
  font-weight: 500;

  span {
    margin-left: 20px;
  }

  a:hover {
    color: var(--primary);
  }
}

.react-datepicker__current-month {
  font-size: 1.3rem !important;
}

.react-datepicker__month-container {
  width: 100%;
}
.react-datepicker {
  width: 100%;
}
